@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: 'Roboto', arial, sans-serif;
}

.txtAdd {
    /* display: grid; */
    /* flex-direction: row; */
    /* justify-content: center space-between; */
    width: fit-content;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.1);
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem 10px;
}

.txtAdd>input {
    color: #80868b;
    border: white;
    outline: none;
    margin: auto 0.5rem;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    width: 339px;
    height: 2rem;
}

.txtAdd button {
    cursor: pointer;
    background-color: #fff;
    opacity: 0.56;
    border: 0px;
    margin: 0 0.5rem;
    outline: none;
}


.txtAdd button:hover {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    padding: 1rem;
    margin: -0.5rem -0.12rem;
    border-radius: 50%;
    opacity: 0.56;
}

.expand {
    display: grid;
    flex-direction: row;
}

.expand button {
    margin: 0 1rem;
}

.expand button:hover {
    margin: -1rem 0.38rem;
}

.main-content {
    width: 80vw;
    margin: 20px auto;
}



#textMenuContainer {
    width: 511px;
    display: flex;
}

.keeps {
    /* display: flex; */
    flex-wrap: wrap;
    /* column-count: auto;
    column-gap: 15px; */
}

.keeps>* {
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    overflow: hidden;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    border-radius: 8px;
    transition-duration: .218s;
    background-color: #fff;
    width: 240px;
    max-height: 324px;
    min-height: 104px;
    transition: top .13s;
}

.keeps img{
    width: 100%;
}

.NoteTodo ol {
    padding-left: 0;
    list-style: decimal;
}

.NoteTodo li {
    padding: 5px 0;
}

.NoteTodo .todoTxt {
    padding-left: 16px;
    color: #202124;
}

.highlight{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

#mainTextArea {
    width: 400px;
}

#textBottom {
    height: 62px;
    font-size: smaller;
}